:root {

  /*
    OPACITIES
    https://www.google.com/design/spec/style/color.html
  */


  /* Opacity for dark text on a light background */
  --dark-opacity-1: 0.12; /* divider */
  --dark-opacity-2: 0.38; /* disabled or hint text or icon */
  --dark-opacity-3: 0.54;
  --dark-opacity-4: 0.87;

  /* Opacity for light text on a dark background */
  --light-opacity-1: 0.12; /* divider */
  --light-opacity-2: 0.30; /* disabled or hint text or icon */
  --light-opacity-3: 0.70;
  --light-opacity-4: 1.00;


  /*
    SHADOWS
    https://www.google.com/design/spec/what-is-material/elevation-shadows.html
  */


  --shadow-transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);

  /* Elevation 2dp: card, raised button (resting) and search bar (resting) */
  --shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);

  /* Elevation 3dp: refresh indicator and search bar (scrolled state) */
  --shadow-2: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
        0 1px 8px 0 rgba(0, 0, 0, 0.12),
        0 3px 3px -2px rgba(0, 0, 0, 0.4);

  /* Elevation 4dp: app bar and toolbar */
  --shadow-3: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.4);

  /* Elevation 6dp: floating action button (FAB) and snackbar */
  --shadow-4: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px -1px rgba(0, 0, 0, 0.4);

  /* Elevation 8dp: menu, card (picked up state) and raised button */
  --shadow-5: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.4);

  /* Elevation 12dp: Floating action button (FAB - pressed) */
  --shadow-6: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
        0 4px 22px 3px rgba(0, 0, 0, 0.12),
        0 6px 7px -4px rgba(0, 0, 0, 0.4);

  /* Elevation 16dp: nav drawer, right drawer and modal bottom sheet */
  --shadow-7: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
